.chat-screen {
    position: fixed;
    bottom: 68px;
    right: 20px;
    z-index: 9999;
    width: 370px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid rgba(101, 9, 52, 0.22);
    box-shadow: 0 14px 28px rgba(39, 36, 36, 0.22);
    visibility: hidden;
}

.chat-screen .chat-mail button.enquire-form{
    position: relative;
    left: -17px;
}

.chat-screen.show-chat {
    -moz-transition: bottom 0.5s linear;
    -webkit-transition: bottom 0.5s linear;
    transition: bottom 0.5s linear;
    visibility: visible;
    bottom: 120px;
}
.chat-screen .chat-header {
    background: linear-gradient(-45deg, #272424, #650934, #2e2c2c, #650934);
    background-size: 400% 400%;
    border-radius: 15px 15px 0 0;
    padding: 12px 14px;
    display: block;
}
.chat-screen .chat-header .chat-header-title {
    letter-spacing: 1px;
    display: flex;
    width: calc(100% - 50px);
    color: #fff;
    font-family: "popins_bold";
    font-size: 16px;
}
.chat-screen .chat-header .chat-header-option {
    display: inline-block;
    width: 44px;
    color: black;
    font-size: 14px;
    text-align: right;
}
.chat-screen .chat-header .chat-header-option .dropdown .dropdown-toggle svg {
    color: black;
}
.chat-screen .chat-mail {
    /* padding: 20px; */
    padding: 5px;
    display: block;
}
.chat-screen .chat-mail input.form-control {
    border-radius: 30px;
    border: 1px solid #e1e1e1;
    color: #3b3f5c;
    font-size: 14px;
    padding: 0.40rem 1.25rem;
    width: 90% !important;
    z-index: 2;
}
.chat-screen .chat-mail input.form-control:focus {
    box-shadow: none;
    border: 1px solid #650934;
}
.chat-screen .chat-mail .select2 .selection .select2-selection .select2-selection__rendered {
    border-radius: 30px;
    border: 1px solid #e1e1e1;
    height: calc(1.28em + 1.28rem + 2px);
    padding: 9px 20px;
    font-size: 14px;
}
.chat-screen .chat-mail .select2.select2-container--open .selection .select2-selection {
    box-shadow: none;
    border-radius: 30px;
}
.chat-screen .chat-mail button {
    background: linear-gradient(-45deg, #272424, #650934, #2e2c2c, #650934);
    background-size: 400% 400%;
    border: 1px solid #650934;
    padding: 0.58rem 1.25rem;
    transition: transform 0.5s ease;
    color: #fff;
}
.question {
    background-image: linear-gradient(to right, #6cb73a, #41d119, #44a10b, #378a06, #63b223);
    border: none;
    padding: 0.58rem 1.25rem;
    transition: transform 0.5s ease;
}
.chat-screen .chat-mail .form-group {
    margin-bottom: 1rem;
}
.chat-screen .chat-body {
    padding: 25px;
    display: inline-block;
    min-height: 420px;
    max-height: 420px;
    background: linear-gradient(180deg, #fbf7f0 0%, #f3ece0 100%);
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .chat-screen .chat-body {
        min-height: 450px;
        max-height: 450px;
    }
}

.chat-screen .chat-body .chat-start {
    border: 1px solid rgba(101, 9, 52, 0.25);
    width: 150px;
    border-radius: 50px;
    padding: 6px 10px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    background: #fff;
    color: #650934;
}
.chat-screen .chat-body .chat-bubble {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    display: inline-block;
    clear: both;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
}
.chat-screen .chat-body .chat-bubble.you {
    background: #eee8df;
    color: #2f2a2a;
    border-radius: 0 15px 15px 15px;
    align-self: flex-start;
    display: table;
}
.chat-screen .chat-body .chat-bubble.me {
    background: linear-gradient(-45deg, #272424, #650934, #2e2c2c, #650934);
    background-size: 400% 400%;
    color: #fff;
    border-radius: 15px 0px 15px 15px;
    float: right;
    align-self: flex-end;
    display: table;
}
.chat-screen .chat-body .chat-bubble.you a {
    color: #f3ece0;
    font-family: "popins_bold";
}
.chat-screen .chat-body .chat-bubble.me a {
    color: #fff;
}
.chat-screen .chat-input {
    width: 100%;
    position: relative;
    margin-bottom: -5px;
}
.chat-screen .chat-input input {
    width: 100%;
    background: #ffffff;
    padding: 15px 70px 15px 15px;
    border-radius: 0 0 15px 15px;
    resize: none;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #f8f8f8;
    color: #7a7a7a;
    font-weight: normal;
    font-size: 13px;
    transition: border-color 0.5s ease;
}
.chat-screen .chat-input input:focus {
    border-color: #650934;
}
.chat-screen .chat-input input:focus + .input-action-icon a svg.feather-send {
    color: #650934;
}
.chat-screen .chat-input .input-action-icon {
    width: 61px;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    text-align: right;
}
.chat-screen .chat-input .input-action-icon a {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.chat-screen .chat-input .input-action-icon a svg {
    height: 17px;
    width: 17px;
    color: #a9a9a9;
}
.chat-screen .chat-session-end {
    display: block;
    width: 100%;
    padding: 25px;
}
.chat-screen .chat-session-end h5 {
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.chat-screen .chat-session-end p {
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
}
.chat-screen .chat-session-end .rate-me {
    width: 120px;
    margin: 40px auto;
}
.chat-screen .chat-session-end .rate-me .rate-bubble {
    display: inline-block;
    text-align: center;
    width: 50px;
}
.chat-screen .chat-session-end .rate-me .rate-bubble span {
    height: 50px;
    width: 50px;
    text-align: center;
    display: block;
    line-height: 46px;
    cursor: pointer;
    transition: transform 0.5s ease;
    margin-bottom: 7px;
}
.chat-screen .chat-session-end .rate-me .rate-bubble span:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.chat-screen .chat-session-end .rate-me .rate-bubble.great {
    margin-right: 12px;
    color: #43cc6c;
}
.chat-screen .chat-session-end .rate-me .rate-bubble.great span {
    background: #43cc6c;
    border-radius: 50px 50px 0 50px;
}
.chat-screen .chat-session-end .rate-me .rate-bubble.bad {
    color: #ef4252;
}
.chat-screen .chat-session-end .rate-me .rate-bubble.bad span {
    background: #ef4252;
    border-radius: 50px 50px 50px 0;
}
.chat-screen .chat-session-end .transcript-chat {
    display: block;
    text-align: center;
    margin-top: 80px;
    color: #0768f8;
    text-decoration: underline;
    line-height: 20px;
}
.chat-screen .powered-by {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
}
.chat-bot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: linear-gradient(-45deg, #272424, #650934, #2e2c2c, #650934);
    background-size: 400% 400%;
    z-index: 9999;
    border-radius: 30px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.chat-bot-icon img {
    height: 90px;
    width: 90px;
    position: absolute;
    right: -11px;
    top: -33px;
}
.chat-bot-icon svg {
    color: #fff;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: transform 0.5s linear;
    position: absolute;
    left: 13px;
    top: 13px;
    opacity: 0;
    z-index: -1;
}
.chat-bot-icon svg.animate {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
    z-index: 1;
}

.chat-body {
    overflow: auto;
}
.response, .error-phone {
    display: none;
}
.error-phone p{
    color: red;
}
.kmp {
    margin-bottom: 10px;
}

.chat-screen .chat-body .chat-bubble.you {
    background: #eee8df !important;
    color: #2f2a2a !important;
}

.brochure-btn, .contact-sales, .not-interested{
    margin: 0px 6px;
    padding: 6px 40px;
    font-size: 15px;
    border: 1px solid #650934;
    color: #fff;
    background: linear-gradient(-45deg, #272424, #650934, #2e2c2c, #650934);
    background-size: 400% 400%;
}

.main-menu-btn {
    margin: 2px 3px;
    padding: 6px 10px;
    font-size: 12px;
    border: 1px solid #650934;
    color: #fff;
    background: linear-gradient(-45deg, #272424, #650934, #2e2c2c, #650934);
    background-size: 400% 400%;
}
.enquire-form{
    margin-top: 15px;
}
.go-back {
    cursor: pointer;
}
.form-fields {
    height: 30px;
    margin-bottom: 15px;
}
/* beforeSend animation start */
.chatbot-beforsend{
    margin: 20px 0px;
    height: 30px;
    width: 30px;
    display: inline-block;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background-color:#ff69b4;
    animation:pulse 1500ms infinite;
}

@keyframes pulse{
    0%{
        box-shadow:#ff69b4 0 0 0 0;
    }
    75%{
        box-shadow:#ff69b400 0 0 0 16px;
    }
}
/* beforeSend animation End */

/* successMsg animation start */
.chatbot-wrapper{
    /* height:100vh; */
    display:contents;
    justify-content:center;
    align-items:center;
    background-color:#eee
}
.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 1.2s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .8s ease-in-out .8s forwards, scale .6s ease-in-out 1.8s both
}
.checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) 1.8s forwards
}
@keyframes stroke{
    100%{
        stroke-dashoffset: 0
    }
}
@keyframes scale{
    0%, 100%{
        transform: none
    }
    50%{
        transform: scale3d(1.1, 1.1, 1)
    }
}
@keyframes fill{
    100%{
        box-shadow: inset 0px 0px 0px 30px #7ac142
    }
}
/* successMsg animation end */

/* from main.css */
.btn-rounded {
    -webkit-border-radius: 1.875rem !important;
    -moz-border-radius: 1.875rem !important;
    -ms-border-radius: 1.875rem !important;
    -o-border-radius: 1.875rem !important;
    border-radius: 1.875rem !important;
}

.hide{
    display: none !important;
}
.cursor-pointer {
    cursor: pointer;
}



/* Second Button */

.main-menu-btn, .brochure-btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;    
    /* position: relative;
    transition: all .35s ease-Out; */
}

.main-menu-btn a, .brochure-btn a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    transition: all .35s ease-Out;
}

#slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

.main-menu-btn:hover #slide, .brochure-btn:hover #slide {
    left: 0;
}

.main-menu-btn:hover a, .brochure-btn:hover a {
    color: #2D3142;
}

/* .cta {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid red;
    background-color: red;
    color: #fff;
    transition: width 0.7s;
  } */
  /* .chat-bot-icon:hover {
    width: 180px;
    transition: width 0.7s;
  }
  
  .chat-bot-icon svg {
    opacity: 1;
    transition: opacity 0.5s
  } */
  
  /* .chat-bot-icon:hover svg {
    opacity: 0;
    transition: opacity 0.5s
  } */
  
  /* .chat-bot-icon .button-text {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    width: 100%;
    left: 0;
   }
  
  .chat-bot-icon:hover .button-text {
    opacity: 1;
    transition: opacity 0.5s
  } */



.shk {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation-name: shakeMe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes shakeMe {
    2%, 18% {
        transform: translate3d(-10px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(10px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-10px, 0, 0);
    }

    8%, 12% {
        transform: translate3d(10px, 0, 0);
    }
    
    18.1% {
        transform: translate3d(0px, 0, 0);
    }
}
